.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(9,9,1,0.8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    position: static;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand a{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navbar-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navbar-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    margin: 0 1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}


